<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>

<form th:action="@{/todo/create}" method="post">
    <h1>TODO List</h1>
    <label for="todo-desc">새로운 할일:
        <input type="text" id="todo-desc" name="todo-desc">
    </label>
    <input type="submit" value="등록">
</form>

<hr>
<b style="font-size: 18px">오늘의 할일</b>
<div th:each="todo : ${todoList}">
    <div th:if="${!todo.done}">
        <span>[[${todo.content}]]</span><br>
        <form th:action="@{/todo/{id}/update (id=${todo.id})}" method="post" style="display:inline">
            <input type="submit" value="완료">
        </form>
        <form th:action="@{/todo/{id}/delete (id=${todo.id})}" method="post" style="display:inline">
            <input type="submit" value="삭제">
        </form>
    </div>
</div>

<hr>
<b style="font-size: 18px">완료한 일</b>
<div th:each="todo : ${todoList}">
    <div th:if="${todo.done}">
        <span>[[${todo.content}]]</span><br>
        <form th:action="@{/todo/{id}/update (id=${todo.id})}" method="post" style="display:inline">
            <input type="submit" value="취소">
        </form>
        <form th:action="@{/todo/{id}/delete (id=${todo.id})}" method="post" style="display:inline">
            <input type="submit" value="삭제">
        </form>
    </div>
</div>

</body>
</html>